*{
    padding: 0 ;
    margin: 0;
    box-sizing: border-box;

}


.nav{
    background-color: rgb(31, 30, 30);
    height: 20vh ;
    width: 100%;
}




nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px ;
    padding-left: 10%;
    padding-right: 10%;
    position: relative;
}


.logo{
    color: #fff;
    font-size: 30px;
}
.logo span{
    height:50px ;
    width: 30px;
    font-size: 50px;
    color: yellow;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding : 10px 20px ;
}

nav ul li a {
    color: white;
    text-decoration: none ;
    font-weight: 200;
    font-size: 18px ;

}

nav ul li a:hover{
    color: black;
    background: yellow ;
    border-radius: 40px;
    padding: 7px 13px;
}


nav button{
    padding: 10px ;
    color: black;
    font-size: 16px;
    background: yellow;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 30px;
    font-weight: 700;
    cursor: pointer;
}


.container{
    background-color: rgb(31, 30, 30);
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: row;

}


.maintext{
    color: #fff;
    font-size: 30px;
    font-weight: 900;
    margin-left: 70px;
    padding-top: 170px;
    
}

.maintext span{
    color: yellow;
    font-size: 50px;
    font-weight: 900;
}

.mainbtn{
    margin-top: 50px;
    margin-left: 100px ;
}


.mainbtn button{
    margin-left: 30px;
    padding: 15px;
    font-size: 17px;
}


.stoday{
    background-color: rgb(32, 32, 32);
    border: none;
    color: white;
    font-size: 40px;
    margin-right: 20px;
    cursor: pointer ;
    
}

.explorenow{
    background-color: rgb(44, 44, 189);
    color: white;
    border: none;
    border-radius: 40px ;
    padding-left: 20px;
    padding-right: 20px;
    width: 300px ;
    height: 60px;
    font-size: 25px ;
    font-weight:600 ;
    cursor: pointer ;
    
}

.mainimg{
    margin-left: 70px;
     display: flex;
     flex-direction: row;
}

.mainimage{
    height: 70vh;
    width: 200px;
    border-radius: 100px;
    object-fit: cover;
    
}


.mainimage2{
    height: 55vh ;
    width: 180px ;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 100px;
    object-fit: cover;
}


.table_body::-webkit-scrollbar{
    width: 0.5rem ;
    height: 0.5rem;
}

.table_body::-webkit-scrollbar-thumb{
   border-radius: .5rem;
   background-color: #0004;
   visibility: hidden;
}

.table_body:hover::-webkit-scrollbar-thumb{
    visibility: visible;

}




td img{
    width: 36px;
    height: 36px;
    margin: .5rem;
    border-radius: 50%;
    vertical-align: middle;
}

table{
    width: 100%;
}

.tables{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #222121;
}

table , th , td{
    padding: 1rem;
    border-collapse: collapse;
    text-align: left;

}

main.table{
    width: 92vw;
    height: 90vh;
    background-color: rgba(170, 168, 168, 0.333);
    backdrop-filter: blur(7px);
    box-shadow:  0 .4rem .8rem #0005;
    border-radius: .8rem;
    overflow: hidden;
}

.table_header{
    width: 100%;
    height: 15%;
    background-color: rgba(5, 5, 5, 0.267);
    padding: .8rem 1rem ;
    display: flex;
    flex-direction: row;
    justify-content: center;
   
    
    
}
.table_header .courseandsem{
    margin-top: 30px;
    
    
    
}

.table_body{
    width: 95%;
    max-height: calc(89% - 1.6rem);
    background-color: rgba(114, 106, 106, 0.267);
    margin: .8rem auto ;
    border-radius: .6rem;
    overflow: auto;
    font-size: 17px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

thead th{
    position: sticky;
    top: 0;
    left: 0;
    background-color: #b1c775fe;
}

tbody tr:nth-child(even){
    background-color: #0000000b;
}

tbody tr:hover{
    background-color: #fff6;
    
}

.status{
    background-color: red;
    padding: .4rem 0;
    border-radius: 2rem; 
    text-align: center;

}

.status.delivered{
    background-color: #86E49D;
    color: #207439;

}

.status.cancelled{
    background-color: #D893A3;
    color: #b30021;
    
}

.status.pending{
    background-color: #EBC473;


}

.courseandsem{
    display: flex;
    flex-direction: row;
    margin-left: 400px;
}

.txtsem  , .txtcourse{
    margin-left: 20px;
    margin-bottom: 70px;
    font-size: 23px;
    color: rgb(228, 228, 115);

}

.incourse , .insem{
    margin-left: 20px;
    margin-bottom: 50px;
    background: rgb(182, 182, 160) ;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    width: 150px;
    border: none;

}

.academy{
    color: yellow ;
    font-size: 40px;
    text-decoration: underline;
    width: 40vw ;
    
}



@media(max-width: 1000px){
    td:not(:first-of-type){
        min-width: 12.1rem;

    }
}

.mainrun{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap ;
    height: 98vh;
}
.gorunbody{
    background:rgb(0, 0, 0);
}
.gorunheader{
    color: yellow ;
    padding-top: 40px;
    padding-left: 50px;
    padding-bottom: 20px;
}

.run1{
    margin-right: 10px;
}

.footimg{
    object-fit: contain;
    border-radius: 50;
    width: 30vw;
    height: 50vh;
    border-radius: 100%;
}

.runtext{
    color:#fff ;
    padding-left: 40px;
    font-size: 37px;

}

.caloriesburnt{
    color: yellow;
    font-size: 33px;
    padding-top: 50px;
}


.run2{
   padding-left: 30px;
   margin-left: 30px;
   padding-top: 40px;
 
}

.runimg{
    height: 90vh;
    border-radius: 150px;
    width: 25vw;
}

.run3{
    color: white;
}

.rewardpoints{
    padding-left: 80px;
    margin-left: 60px;
    margin-top: 250px;
    font-size: 30px;
}

.points{
    color: yellow;
}

.ten{
    margin-left:130px ;
    margin-top: 40px;
    font-size: 70px;
    background-color: yellow;
    color: black;
    border-radius: 150%;
    align-items: center;
    justify-content: center;
    padding-left: 50px;
    padding-top: 40px;
    padding-bottom: 40px;
    
}

.eventmanager{
    height: 200vh;
    width:100% ;
    background: rgb(17, 17, 17);
    color: white;
}

.eventmanagerheader{
    padding-top:40px ;
    padding-bottom: 40px ;
    font-size: 30px;
    color:yellow ;
    padding-left: 30px;
    text-decoration: underline;

}

.todaysevent{
    display: flex;
    flex-direction: row;
}

.eventhead{
    padding-left: 500px;
    text-decoration: underline yellow;
}

.inclub{
    padding-left: 40px;
    margin-left: 250px;
    border: none;
    border-radius: 60px;
    font-size: 17px;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}
.event1{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    border: 1px ;
    border: 1px yellow solid;
    border-radius: 60px;
    padding-bottom: 40px ;
    padding-right: 30px;
    margin-left: 10px;
    margin-right: 10px;

}

.event1:hover{
    background-color: #292828;
}



.eventname{
    color: yellow;
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 20px;
}

.eventcontent{
    padding-top: 20px;
    font-size: 22px;
    padding-left: 20px;
}
.eventcontent span{
    text-decoration: underline rgb(34, 34, 145) 2px;
}

.timeandvenue{
    display: flex;
    flex-direction: row;
    margin-left: 40px;
    margin-top: 33px;
    font-size: 24px;
}

.time{
    margin-right: 50px;
    
}

.venue{
    color: yellow;
}

.eventposter{
    height: 20px;
    margin-left: 70px;
    margin-top: 15px;
    
}

.poster{
    height: 35vh;
    width:20vw ;
    
}

.testseries{
    height: 100vh;
    width: 100%;
    background: #1b1b1b;
}

.testheader{
    color: white;
    padding: 30px;
    font-size: 20px;
    color: yellow;
    text-decoration: underline yellow;
    padding-top: 45px;
}

.chaptername{
    font-size: 35px ;
    color: white;
    padding-top: 55px;
    padding-left: 70px;
    margin-left: 30px;
}


.dropdown{
    min-width: 15em;
    position: relative;
    margin: 2em;
    font-size: 20px;
}

.dropdown *{
    box-sizing: border-box;
    width: 37vw;

}

.select{
    background: #2a2f3b;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px#2a2f3b solid;
    border-radius: 0.5em;
    padding: 1em;
    cursor: pointer;
    transition: background 0.3s;
    

}

.select-clicked{
    border: 2px #bed849 solid;
    box-shadow: 0 0 0.8em #c6e030;
    

}

.select:hover{
    background: #323741;

}

.caret{
    width: 0;
    height: 0;
    border-left: 5px solid transparent ;
    border-right: 5px solid transparent;
    border-top: 6px solid #fff;
    transition: 0.3s;

}

.caret-rotate{
    transform: rotate(180deg);

}

.menu{
    list-style: none;
    padding: 0.2em 0.5em;
    background: #323741;
    border: 1px #363a43 solid;
    box-shadow: 0 0.5em 1em rgba(0,0,0,0.2);
    border-radius: 0.5em;
    color: #9fa5b5;
    position: absolute;
    top: 3em ;
    left: 30%;
    width: 40vw;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;


}

.menu li{
    padding: 0.7em 0.5em;
    margin: 0 .3em 0;
    border-radius: 0.5em;
    cursor: pointer;
}

.menu li:hover{
    background: #2a2d35;

}

.active{
    background: #23242a;
}

.menu-open{
    display: block;
    opacity: 1;
}

.markscheme{
    color: yellow;
}

.testlower{
    margin-top: 70px;
}

.purchases{
    display: grid ;
    place-items : center ;
    /* margin-inline: 1.5rem; */
    padding-block: 5rem ;
    background: linear-gradient(135deg, rgb(97, 95, 95) 11.4%, rgb(239, 241, 109) 70.2%);
    height: 100vh;
    width: 100%;
    
}

.purchasesheader{
    color: yellow;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 20px;

   
    
}
.purchasesheader:hover{
    text-decoration: underline yellow;
    
}

.card_container{
    display:grid;
    row-gap: 3.5rem;
   
    
}

.card__article{
    position: relative;
    overflow: hidden;
}

.card_img{
    width: 328px;
    height: 350px;
    border-radius: 1.5rem;
    object-fit: cover;

}

.card_data{
    width: 280px;
    background-color: #1b1b1b;
    padding: 1.5rem 2rem;
    box-shadow: 0 8px 24px hsla(0 ,0% , 0% , .15);
    border-radius: 1rem;
    position: absolute;
    bottom : -9rem ;
    left: 0 ;
    right: 0;
    margin-inline: auto ;
    transition : opacity 1s 1s ;
    opacity: 0;


}
.card_description{
    display: block ;
    font-size: 20px;
    margin-bottom: .25rem;


}

.card_title{
    font-size: 30px;
    font-weight: 500;
    color: #1b1b1b;
    margin-bottom: .75rem;
    color: white;

}


.card_button{
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    color: yellow;

}

.card_button:hover{
    text-decoration: underline;
}

.card__article:hover .card_data{
    animation: show-data 1s forwards;
    opacity: 1;
    transition: opacity .3s;


}

.card__article:hover{
    animation: remove-overflow 2s forwards;

}

.card__article:not(:hover){
    animation: show-overflow 2s forwards;

}


.card__article:not(:hover) .card_data{
    animation: show-overflow 1s forwards;

}

.userewards{
    border: none;
    padding: 10px 50px;
    
    margin-top: 10px;
   

    
}

.userewards button{
    background: yellow;
    color: rgb(5, 5, 5);
    border: none;
    height: 60px;
    width: 200px;
    font-weight: 600;
    border-radius: 40px;

}

@keyframes show-data{
    50%{
        transform: translateY(-10rem);
    }

    100%{
        transform: translateY(-7rem);
    }
}

@keyframes remove-overflow{
    to{
        overflow: initial;
    }
}

@keyframes remove-data{
    0%{
        transform: translateY(-7rem);
    }
    50%{
        transform: translateY(-10rem);
    }
    100%{
        transform: translateY(.5rem);
    }
}

@keyframes show-overflow{
    0%{
        overflow: initial;
        pointer-events: none;
    }
    50%{
        overflow: hidden;
    }
}

@media screen and (max-width:340px){
    .purchases{
        margin-inline: 1rem ;
    }

    .card_data{
            width: 250px;
            padding: 1rem;
    }
}

@media screen and (min-width:768px){
    .card_container{
        grid-template-columns: repeat(2,1fr);
        column-gap: 1.5rem;
    }
}

@media screen and (min-width: 1120px){
    .purchases{
        height: 100vh;
    }
    .card_container{
        grid-template-columns: repeat( 3 ,1fr);

    }

    .card_img{
        width: 380px;
    }

    .card_data{
        width: 330px;
        padding-inline: 2.5rem;
    }

}



.footer{
    background-color: #24262b;
    padding: 70px 0;
    line-height: 1.5;

}

.footcontainer{
    max-width: 1170px;
    
    margin: auto;

}

ul{
    list-style: none;


}
.footcol{
    width: 25%;
    padding: 0 15px;
}

.row{
    display: flex;
    flex-wrap: wrap;
}


.footcol h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
   
}

.footcol h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #fde50c;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footcol ul li:not(:last-child){
    margin-bottom: 10px;

}

.footcol ul li a{
    font-size: 18px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease ;
    
}

.footcol ul li a:hover{
    color: #fbff01;
    padding-left: 8px;
}

.footcol .sociallinks a{
    display: inlne-block;
    height: 400px;
    width: 400px;
    background-color: rgba(231, 224, 224, 0.2);
    margin: 0 10px 10px 0 ;
    text-align: center;
    line-height: 40px;
    border-radius: 30%;
    color: #ffffff;
    transition:  all 0.5s  ease;
    padding: 10px;



}
.footcol .sociallinks a:hover{
    color:black ;
    background-color: #ffffff;
    height: 150px;
    width: 150px;

}

@media(max-width: 767px){
    .footcol{
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px){
    .footcol{
        width: 100%;
        
    }
}













































































